body {
  background-color: rgb(63, 59, 59);
  font-family: Arial, sans-serif;
}

.business-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

.profile-image {
  max-width: 100%;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
}
